* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    display: inline-block;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dm-insta-feed {
    width: 100%;
    .dm-container {
        h1.dm-title {
            text-align: center;
            font-size: 25px;
        }
        .dm-insta-row {
            .owl-dots {
                display: none;
            }
            .owl-nav {
                margin-top: 0;
                button.owl-prev,
                button.owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translate(0px, -50%);
                    background-color: transparent;
                    outline: none;
                    width: 30px;
                    height: 30px;
                    &::before {
                        opacity: 1;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    span {
                        display: none;
                    }
                }
            }
            button.owl-prev {
                left: 5px;
                z-index: 99;
                &::before {
                    content: '';
                    background-image: url(../images/pre.svg);
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }
            }
            button.owl-next {
                right: 5px;
                &::before {
                    content: '';
                    background-image: url(../images/next.svg);
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                }
            }
            .dm-insta-url {
                padding: 5px;
                display: inline-block;
                outline: none;
                &:hover {
                    .dm-insta-img {
                        .dm-instafeed-overlay {
                            opacity: 1;
                        }
                        img {
                            transform: scale(1.3);
                        }
                    }
                }
                .dm-insta-img {
                    position: relative;
                    overflow: hidden;
                    img {
                        transition: transform 2s, filter 1.5s ease-in-out;
                    }
                    .dm-instafeed-overlay {
                        opacity: 0;
                        position: absolute;
                        background-color: transparent;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                        transition: all 0.2s linear;
                        &::before {
                            content: ' ';
                            opacity: 1;
                            background: url(../images/instagram-icon.svg) no-repeat center center;
                            background-size: 20px 20px;
                            position: absolute;
                            z-index: 100;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }
                        &::after {
                            content: ' ';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #000;
                            opacity: .5;
                        }
                    }
                    .dm-like-btn {
                        position: absolute;
                        bottom: 10px;
                        right: 5px;
                        display: flex;
                        align-items: center;
                        span,
                        p {
                            color: #fff;
                            z-index: 9;
                            padding-right: 10px;
                            margin-bottom: 0;
                            line-height: normal;
                            display: flex;
                            align-items: center;
                            svg {
                                width: 15px;
                                fill: #fff;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
        .dm-insta-popup {
            .dm-popup-lightbox {
                display: none;
                position: fixed;
                font-size: 15px;
                z-index: 99999;
                width: 100%;
                height: 100%;
                text-align: center;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.8);
                border: 0;
                padding: 20px;
                overflow: auto;
                .dm-lightbox-instagram {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 1000px;
                    margin: 0 auto;
                    background-color: #fff;
                    .dm-popup_img {
                        flex: 0 0 60%;
                        max-width: 60%;
                        width: 100%;
                        margin: 0;
                        img {
                            float: left;
                        }
                    }
                    .dm-description {
                        flex: 0 0 40%;
                        max-width: 40%;
                        width: 100%;
                        margin: 0;
                        padding: 0 20px;
                        .dm-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;
                            border-bottom: 1px solid #ccc;
                            .dm-popup-logo {
                                position: relative;
                                cursor: pointer;
                                a {
                                    display: flex;
                                    align-items: center;
                                    text-decoration: none;
                                    img {
                                        max-width: 40px;
                                        border-radius: 50%;
                                        margin: 12px!important;
                                        border: 1px solid #eee;
                                    }
                                    span {
                                        color: #000;
                                        letter-spacing: .05em;
                                        font-weight: 600;
                                        font-size: 15px;
                                    }
                                }
                            }
                            img#dm-close_popup {
                                content: "";
                                background-image: url(../images/close-btn.svg);
                                position: absolute;
                                right: 0;
                                background-repeat: no-repeat;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                                transition: 0.3s linear;
                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }
                        .dm-description_slider {
                            padding: 10px 0px;
                            overflow-x: hidden;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            .dm-popup-like-btn {
                                display: inline-flex;
                                align-items: center;
                                flex: 0 0 50%;
                                max-width: 50%;
                                width: 100%;
                                span,
                                p {
                                    padding-right: 10px;
                                    color: #808080;
                                    margin: 0;
                                    cursor: pointer;
                                    display: flex;
                                    svg {
                                        width: 15px;
                                        fill: #808080;
                                        margin-right: 5px;
                                    }
                                }
                            }
                            .dm-slider-btn {
                                display: flex;
                                justify-content: flex-end;
                                flex: 0 0 50%;
                                max-width: 50%;
                                width: 100%;
                                a.dm-pre_btn,
                                a.dm-next_btn {
                                    display: flex;
                                    width: 32px;
                                    height: 32px;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid #ccc;
                                    &:hover {
                                        background-color: #eee;
                                    }
                                    img {
                                        max-width: 15px;
                                    }
                                }
                                a.dm-pre_btn {
                                    margin-right: 3px;
                                }
                            }
                            .dm-popup_content {
                                padding-top: 20px;
                                p {
                                    margin: 0;
                                    color: #666;
                                    word-break: break-all;
                                    line-height: 2;
                                    text-align: left;
                                }
                            }
                            .dm-post-date {
                                margin-top: 50px;
                                border-top: 1px solid #eee;
                                width: 100%;
                                p {
                                    color: #808080;
                                    font-size: 11px;
                                    text-align: left;
                                    margin: 0;
                                    padding-top: 5px;
                                    a {
                                        text-decoration: none;
                                        color: #808080;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Responsive Css*/

@media screen and (max-width: 991px) {
    .dm-insta-feed {
        .dm-container {
            .dm-insta-popup {
                .dm-popup-lightbox {
                    .dm-lightbox-instagram {
                        .dm-description {
                            .dm-description_slider {
                                .dm-popup_content {
                                    padding-top: 15px;
                                    p {
                                        line-height: 22px;
                                    }
                                }
                                .dm-post-date {
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .dm-insta-feed {
        .dm-container {
            .dm-insta-popup {
                .dm-popup-lightbox {
                    .dm-lightbox-instagram {
                        position: relative;
                        .dm-popup_img,
                        .dm-description {
                            padding: 0 10px;
                            flex: 0 0 100%;
                            max-width: 100%;
                            .dm-header {
                                position: static;
                                img#dm-close_popup {
                                    top: 15px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

