* {
  webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  display: inline-block;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dm-insta-feed{
  width: 100%;
}
.dm-insta-feed .dm-container h1.dm-title {
  text-align: center;
  font-size: 25px;
}

.dm-insta-feed .dm-container .dm-insta-row .owl-dots {
  display: none;
}

.dm-insta-feed .dm-container .dm-insta-row .owl-nav {
  margin-top: 0;
}

.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-prev,
.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background-color: transparent;
  outline: none;
  width: 30px;
  height: 30px;
}

.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-prev::before,
.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-next::before {
  opacity: 1;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-prev span,
.dm-insta-feed .dm-container .dm-insta-row .owl-nav button.owl-next span {
  display: none;
}

.dm-insta-feed .dm-container .dm-insta-row button.owl-prev {
  left: 5px;
  z-index: 99;
}

.dm-insta-feed .dm-container .dm-insta-row button.owl-prev::before {
  content: '';
  background-image: url(../images/pre.svg);
  width: 100%;
  height: 100%;
  display: inline-block;
}

.dm-insta-feed .dm-container .dm-insta-row button.owl-next {
  right: 5px;
}

.dm-insta-feed .dm-container .dm-insta-row button.owl-next::before {
  content: '';
  background-image: url(../images/next.svg);
  width: 100%;
  height: 100%;
  display: inline-block;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url {
  padding: 5px;
  display: inline-block;
  outline: none;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url:hover .dm-insta-img .dm-instafeed-overlay {
  opacity: 1;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url:hover .dm-insta-img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img {
  position: relative;
  overflow: hidden;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img img {
  -webkit-transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out, -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-instafeed-overlay {
  opacity: 0;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-instafeed-overlay::before {
  content: ' ';
  opacity: 1;
  background: url(../images/instagram-icon.svg) no-repeat center center;
  background-size: 20px 20px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-instafeed-overlay::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-like-btn {
  position: absolute;
  bottom: 10px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-like-btn span,
.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-like-btn p {
  color: #fff;
  z-index: 9;
  padding-right: 10px;
  margin-bottom: 0;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-like-btn span svg,
.dm-insta-feed .dm-container .dm-insta-row .dm-insta-url .dm-insta-img .dm-like-btn p svg {
  width: 15px;
  fill: #fff;
  margin-right: 5px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox {
  position: fixed;
  font-size: 15px;
  z-index: 99999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  border: 0;
  padding: 20px;
  overflow: auto;
}.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox[show='true']{
   display: block;
 }
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox[show='false']{
    display: none;
  }

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-popup_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  width: 100%;
  margin: 0;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-popup_img img {
  float: left;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  width: 100%;
  margin: 0;
  padding: 0 20px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header .dm-popup-logo {
  position: relative;
  cursor: pointer;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header .dm-popup-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header .dm-popup-logo a img {
  max-width: 40px;
  border-radius: 50%;
  margin: 12px !important;
  border: 1px solid #eee;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header .dm-popup-logo a span {
  color: #000;
  letter-spacing: .05em;
  font-weight: 600;
  font-size: 15px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header img#dm-close_popup {
  content: "";
  background-image: url(../images/close-btn.svg);
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header img#dm-close_popup:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider {
  padding: 10px 0px;
  /*overflow-x: hidden;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup-like-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup-like-btn span,
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup-like-btn p {
  padding-right: 10px;
  color: #808080;
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup-like-btn span svg,
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup-like-btn p svg {
  width: 15px;
  fill: #808080;
  margin-right: 5px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-pre_btn,
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-next_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-pre_btn:hover,
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-next_btn:hover {
  background-color: #eee;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-pre_btn img,
.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-next_btn img {
  max-width: 15px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-slider-btn a.dm-pre_btn {
  margin-right: 3px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup_content {
  padding-top: 20px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup_content p {
  margin: 0;
  color: #666;
  word-break: break-all;
  line-height: 2;
  text-align: left;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-post-date {
  margin-top: 50px;
  border-top: 1px solid #eee;
  width: 100%;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-post-date p {
  color: #808080;
  font-size: 11px;
  text-align: left;
  margin: 0;
  padding-top: 5px;
}

.dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-post-date p a {
  text-decoration: none;
  color: #808080;
}

/* Responsive Css*/
@media screen and (max-width: 991px) {
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup_content {
    padding-top: 15px;
  }
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-popup_content p {
    line-height: 22px;
  }
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-description_slider .dm-post-date {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram {
    position: relative;
  }
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-popup_img,
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description {
    padding: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-popup_img .dm-header,
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header {
    position: static;
  }
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-popup_img .dm-header img#dm-close_popup,
  .dm-insta-feed .dm-container .dm-insta-popup .dm-popup-lightbox .dm-lightbox-instagram .dm-description .dm-header img#dm-close_popup {
    top: 15px;
    right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */