<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/docs.theme.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/owl.carousel.js"></script>

</head>

<body>
<div class="dm-insta-feed">
    <div class="dm-container">
        <h1 class="dm-title">INSTAGRAM</h1>
        <div class="dm-insta-row">
            <div id="insta-slider" class="owl-carousel owl-theme">
                 <% allpost.forEach(function(post,value) { %>
                    <a href="javascript:void(0);" class="dm-insta-url" onclick="document.getElementById('dm-<%= value %>-insta-feed').style.display='block'">
                        <div class="dm-insta-img">
                            <img src="<%= post.media_url %>">
                            <div class="dm-instafeed-overlay">
                                <div class="dm-like-btn">
                                    <span><i class="far fa-heart"></i> <%= post.like_count %></span>
                                    <p><i class="fas fa-quote-right"></i> <%= post.comments %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% }); %>
            </div>
            <div class="dm-insta-popup">
                 <% allpost.forEach(function(post,value) { %>

                    <button class="dm-popup-lightbox" id="dm-<%= value %>-insta-feed">
                                        <div class="dm-lightbox-instagram">
                                            <div class="dm-popup_img">
                                                <img src="<%= post.media_url %>">
                                            </div>
                                            <div class="dm-description">
                                                <div class="dm-header">
                                                    <div class="dm-popup-logo">
                                                        <a href="javascript:void(0);">
                                                            <img src="<%= post.profile %>">
                                                            <span><%= post.username %></span>
                                                        </a>
                                                    </div>
                                                    <img onclick="document.getElementById('dm-<%= value %>-insta-feed').style.display='none'" id="dm-close_popup" src="images/close-btn.svg">
                                                </div>

                                                <div class="dm-description_slider">
                                                    <div class="dm-popup-like-btn">
                                                        <span><i class="far fa-heart"></i> <%= post.like_count %></span>
                                                        <p><i class="fas fa-quote-right"></i> <%= post.comments %></p>
                                                    </div>
                                                    <div class="dm-slider-btn">
                                                        <a href="javascript:void(0);" id="dm-prevBtn" class="dm-pre_btn">
                                                            <img src="images/pre.svg">
                                                        </a>
                                                        <a href="javascript:void(0);" id="dm-nextBtn" class="dm-next_btn">
                                                            <img src="images/next.svg">
                                                        </a>
                                                    </div>
                                                    <div class="dm-popup_content">
                                                        <p><%= post.caption %></p>
                                                    </div>
                                                    <div class="dm-post-date">
                                                        <p><%= post.timestamp %> • <a href="<%= post.instalink %>" target="_blank">View on Instagram</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </button>
                  <% }); %>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#insta-slider').owlCarousel({
            loop: true,
            margin: 0,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                480: {
                    items: 2,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })
    $(document).ready(function() {
        $('.dm-next_btn').click(function() {
            var self = $(this);
            $(this).each(function() {
                $('.dm-popup-lightbox').css('display', 'none');
            });
            self.parents('.dm-popup-lightbox').next().css('display', 'block');
        });
        $('.dm-pre_btn').click(function() {
            var selfs = $(this);
            $(this).each(function() {
                $('.dm-popup-lightbox').css('display', 'none');
            });
            selfs.parents('.dm-popup-lightbox').prev().css('display', 'block');
        });
    });
</script>
</body>

</html>